<template>
    <div class="history">
        <p>Page History</p>

        <el-input placeholder="Фамилия" v-model="fname"></el-input>
        <el-input placeholder="Имя" v-model="name"></el-input>


        <p>{{fname}} {{name}}</p>

        <p>{{fullName}}</p>

        <el-input-number v-model="num" :min="1" :max="10"></el-input-number>
        <Posts></Posts>
    </div>
</template>

<script>
    import Posts from '@/views/Posts.vue'

    export default {
        name: 'History',
        data(){
          return{
              name:'',
              fname:'',
          }
        },
        computed: {
            num: {
                get: function () {
                    return this.$store.getters.getPage;
                },
                set: function (v) {
                    this.$store.commit('setPage', v);
                }
            },
            fullName: function () {
                return this.fname +' '+ this.name+";";
            },

        },
        components: {
            Posts
        },
        methods:{

        }
    }
</script>