<template>
    <div class="posts">
        <p>Page Posts</p>
        <p>Page: {{page}}</p>
        <!--<el-pagination
                @current-change="handleCurrentChange"
                :current-page.sync="page"
                :page-size="100"
                layout="prev, pager, next"
                :total="1000">
        </el-pagination>-->
    </div>
</template>


<script>
    export default {
        name: 'Posts',
        data(){
            return{

            }
        },
        computed: {
            page () {
                return this.$store.getters.getPage;
            }
        },
        created() {
            console.log(this.page);
            if(Number.isInteger(parseInt(this.page))){
                this.pageMain = parseInt(this.page);
            }
            else{
                console.log('Не число');
            }
        },
        methods: {
            handleCurrentChange(val) {
                console.log(`current page: ${val}`);
                this.$router.push({ path: '/history/posts/'+val })
            }
        },
    }
</script>